# Frontend
frontend-svelte/node_modules
frontend-svelte/package-lock

# Backend
backend-flask/venv
*.db

# Tailscale
tailscale

# Backups
db_backups

# General
*.pyc
__pycache__/
.env.*

!.env.example
